.main{
    padding: 0%;
    margin: 10px;
    border: 20px black ;
    border-radius: 2rem;
    width: 270px;
    background-color: rgb(40, 40, 41);
    color: white;
}
.background{
    background-image: url('../Images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 271px;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;

}
.profileimg{
    height: 64px;
    width: 60px;
}

.silver{
    color:#a5a5a9;
}

.stats  li{
   display: inline-block;
   padding:0 8px 0 13px;
}
.stats ul li spain{
    color: rgb(21, 21, 21);
}
.menu ul li{
    padding: 5px;
}
