@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Kablammo&family=Roboto:wght@300&display=swap');


.App {
  text-align: center;
}
.icons{
 
  padding: 0.02rem;
  border-radius: 0.4rem;
  
}

.link{
  color: #A2A3A8;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.stories-square.stories.carousel .story {
  border-radius: 0;
  height: 150px !important;
  position: relative;
  width: 120px !important;
  max-width: inherit !important;
  margin-bottom: 4px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
