.cardbody{
    color: white;
    font-family: 'Inter', sans-serif;
    
}
 ul{
    background-color:#141519;
}
a{
    text-decoration: none;

}
a:hover{
   background-color: rgba(18, 106, 237, 0.216);
}

.main_container{
    background-color: #141519;
}
.innercontainer{
    background-color: #1b1c21;
    border-color: #454647;
}
.mainContainer{
    background-color: #141519;
    padding: 20px;
    overflow: hidden;

}
.card-bodySetting{
    background-color: #141519;
}
.label{
    color:#adab9c;
}
.containerSetting{
    width: 100%;
    overflow: hidden;
    height: 800px;
}
::placeholder{
    color: #85878a;
}